* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #2e7d32;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label {
    font-weight: bold;
    margin-top: 0.5rem;
}

input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 1rem;
    padding: 0.7rem;
    background-color: #2e7d32;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #256428;
}

p {
    text-align: center;
    margin-top: 1rem;
}

.Contenedores {
    background-color: #f0f0f0;
    margin: 20px;
    border: 2px solid #333;
    color: #333;
}

.filtros {
    display: flex;
    gap: 15px;
    margin-boton: 15px;
    background: white;
    padding: 15px;
    border-radius: 5px;
    align-item: center;
}

.header {
    background-color: #06402B;
    color: green;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-item: center;
}
